@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

@layer fonts {
    :root {
        --font-epilogue: "Epilogue", sans-serif;

        --fontsize-56: calc(56 / 16 * 1rem);
        --fontsize-48: calc(48 / 16 * 1rem);
        --fontsize-40: calc(40 / 16 * 1rem);
        --fontsize-32: calc(32 / 16 * 1rem);
        --fontsize-24: calc(24 / 16 * 1rem);
        --fontsize-20: calc(20 / 16 * 1rem);
        --fontsize-18: calc(18 / 16 * 1rem);
        --fontsize-16: 1rem;
        --fontsize-14: calc(14 / 16 * 1rem);
    }

    h1 {
        font-size: var(--fontsize-40);
        /* font-size: clamp(2.244rem, 1.930rem + 1.569vw, 3.813rem); */
        letter-spacing: -1.5px;
    }

    h2 {
        font-size: var(--fontsize-32);
        /* font-size: clamp(1.875rem, 1.65rem + 1.125vw, 3rem); */
        letter-spacing: -1.14px;
    }

    h3 {
        font-size: var(--fontsize-24);
        /* font-size: clamp(1.625rem, 1.462rem + 0.813vw, 2.438rem); */
        letter-spacing: -0.07px;
    }

    p {
        font-size: var(--fontsize-18);
        /* font-size: clamp(1rem, 0.7576rem + 0.303vw, 1.25rem); */
    }

    /* ***** Media queries ***** */
    @media screen and (max-width: calc(768/16 * 1rem)) {
        h1 {
            font-size: var(--fontsize-32);
        }

        h2 {
            font-size: var(--fontsize-24);
        }

        h3 {
            font-size: var(--fontsize-20);
        }

        p {
            font-size: var(--fontsize-16);
        }
    }
}

@layer colors {
    :root {
        --color-primary: hsl(0, 0%, 0%);
        --color-secondary: hsl(0, 0%, 100%);

        --color-bg-dark: hsl(0 0% 90%);
        --color-bg: hsl(0 0% 95%);
        --color-bg-light: hsl(0 0% 100%);
        --color-text: hsl(0 0% 5%);
        --color-text-mute: hsl(0 0% 30%);
        --color-border: hsl(0 0% 60%);
        --border-card: 1px solid var(--color-border);
        --border-highlight: hsl(0 0% 20%);

        --shadow-combine: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
        --shadow-light: 0px 4px 4px #00000030;
        --shadow-dark: 0px 12px 12px #00000015;
    }
}

@layer layout {
    :root {
        --layout-padding: 2rem;
        --layout-breakout: 1rem;
        --layout-container: calc(1150/16 * 1rem);
    }

    .layout_wrapper {
        display: grid;
        grid-template-columns:
            [grid-fullbleed-start] minmax(var(--layout-padding), 1fr) [grid-breakout-start] minmax(0, var(--layout-breakout)) [grid-content-start] min(100% - var(--layout-padding) * 2, var(--layout-container)) [grid-content-end] minmax(0, var(--layout-breakout)) [grid-breakout-end] minmax(var(--layout-padding), 1fr) [grid-fullbleed-end];
    }

    .layout_wrapper > *,
    .layout_wrapper .layout_container {
        grid-column: grid-content;
    }

    .layout_wrapper .layout_breakout {
        grid-column: grid-breakout;
    }

    .layout_wrapper .layout_fullbleed {
        grid-column: grid-fullbleed;
    }

    .layout_container > :not(.layout_breakout, .layout_fullbleed),
    .layout_fullbleed > :not(.layout_breakout, .layout_fullbleed) {
        grid-column: grid-content;
    }

    .layout_container .layout_breakout {
        grid-column: grid-breakout;
    }

    .layout_container .layout_fullbleed {
        grid-column: grid-fullbleed;
    }
}

@layer global {

    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        max-width: 100%;
        min-height: 100vh;

        font-family: var(--font-epilogue);
        background-color: var(--color-bg-light);
        position: relative;
        transition: .5s;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    h1,
    h2,
    h3 {
        margin: 0;
        line-height: 1.1;
        font-family: var(--font-montserrat);
    }

    p {
        line-height: 1.2;
    }

    a {
        text-decoration: none;
        color: var(--color-text);
    }

    ul li {
        list-style: none;
        padding-left: .5rem;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    input,
    textarea {
        width: 100%;
        padding: .25rem .5rem;
        font-size: var(--fontsize-18);
        outline: none;
        border: var(--border-card);
    }

    th,
    td {
        border: var(--border-card);
        padding: .5rem;
        text-align: center;
    }

    button {
        border: var(--border-card);
        border-radius: 5px;
        padding: .5rem 1rem;
        outline: none;
        text-align: center;
        cursor: pointer;
    }
}

@layer scrollbar {
    body::-webkit-scrollbar {
        width: 7px;
    }

    body::-webkit-scrollbar-thumb {
        background: var(--color-text-mute);
        border-radius: 20px;
    }

    body::-webkit-scrollbar-track {
        background: var(--color-bg-light);
    }

    body::-webkit-scrollbar-thumb:hover,
    body::-webkit-scrollbar-thumb:active {
        background: var(--color-primary);
    }
}

@layer navbar {
    .header_section {
        background-color: var(--color-bg-light);
        color: var(--color-text);
    }

    .navbar_section {
        width: 100%;
        padding: 1rem 0;

        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .navbar_section .navbar_logo {
        width: calc(100/16 *1rem);
        height: calc(60/16 *1rem);
    }

    .navbar_section .navbar_links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .navbar_links .navbar_lists {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;
    }

    .navbar_links .navbar_lists select {
        font-size: var(--fontsize-18);
        border: none;
        outline: none;
        transition: color .3s ease;
        cursor: pointer;

        background-color: var(--color-bg-light);
        color: var(--color-text-mute);
    }

    .navbar_links .navbar_lists a,
    .navbar_links .navbar_account a {
        font-size: var(--fontsize-18);
        color: var(--color-text-mute);
        transition: color .3s ease;
    }

    .navbar_links .navbar_account {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .navbar_links a:hover,
    .navbar_links .navbar_lists select:hover {
        color: var(--color-text);
    }

    .navbar_links .navbar_account a:nth-child(2) {
        border: var(--border-card);
        border-radius: 5px;
        padding: .5rem 1rem;
    }

    .navbar_links .navbar_account a:nth-child(2):hover {
        border-color: var(--color-text);
    }

    /****** navbar mobile ******/
    input#navbar_open,
    .navbar_section .navbar_hamburger,
    .navbar_links .navbar_close {
        display: none;
    }

    .navbar_section .navbar_hamburger,
    .navbar_links .navbar_close {
        width: calc(30/16 *1rem);
        height: calc(30/16 *1rem);
        cursor: pointer;
    }

    @media screen and (max-width: 800px) {
        .navbar_section {
            justify-content: space-between;
        }

        .navbar_section .navbar_hamburger,
        .navbar_links .navbar_close {
            display: block;
        }

        .navbar_section .navbar_links {
            display: none;
            opacity: 0;
            position: fixed;
            top: 0;
            right: 0;

            width: calc(350/16 * 1rem);
            height: 100%;
            padding: 8rem 2rem;
            flex-direction: column;
            justify-content: flex-start;

            background-color: var(--color-secondary);
            box-shadow: var(--shadow-light);
            transform: translateX(120%);
            transition: all .5s ease-in-out;
            z-index: 5;
        }

        .navbar_links .navbar_close {
            position: absolute;
            top: 15px;
            right: 15px;
        }

        .navbar_section .navbar_lists,
        .navbar_section .navbar_account {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
        }

        .navbar_section .navbar_lists select {
            background: var(--color-secondary);
        }

        .navbar_section input#navbar_open:checked ~ .navbar_links {
            display: flex;
            opacity: 1;
            transform: translateX(0);
        }
    }

    @media screen and (max-width: 576px) {

        .navbar_section .navbar_hamburger,
        .navbar_links .navbar_close {
            width: calc(20/16 *1rem);
            height: calc(25/16 *1rem);
            cursor: pointer;
        }
    }

    @media screen and (max-width: 400px) {
        .navbar_section .navbar_links {
            width: 100%;
        }
    }
}

@layer hero {
    .main_section {
        background-color: var(--color-bg-light);
        color: var(--color-text);
    }

    .main_section .hero_section {
        width: 100%;
        padding: 2rem 0;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .hero_content_container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
    }

    .hero_content_container .hero_details {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2.5rem;
    }

    .hero_content_container .hero_details h1 {
        width: 65%;
        font-size: calc(58/16 *1rem);
    }

    .hero_content_container .hero_details p {
        width: 80%;
        color: var(--color-text-mute);
    }

    .hero_content_container .hero_details button {
        font-size: var(--fontsize-20);
        background: var(--color-primary);
        color: var(--color-secondary);
        border: 2px solid var(--color-primary);
        transition: all .3s ease;
    }

    .hero_content_container .hero_details button:hover {
        background: transparent;
        color: var(--color-primary);
    }

    .hero_content_container .hero_clients {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    .hero_content_container .hero_clients div.image_container {
        width: calc(100/16 *1rem);
        height: calc(60/16 *1rem);
    }

    .hero_section .hero_profile_container {
        width: 100%;
        height: 100%;
    }

    .hero_section .hero_profile_container .hero_banner {
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width: 900px) {
        .main_section .hero_section {
            flex-direction: column;
            gap: 3rem;
        }

        .hero_content_container .hero_details {
            align-items: center;
            justify-content: center;
        }

        .hero_content_container .hero_details h1,
        .hero_content_container .hero_details p {
            width: fit-content;
            margin-inline: auto;
        }

        .hero_content_container .hero_details p {
            text-align: center;
        }

        .hero_content_container .hero_clients {
            justify-content: center;
        }
    }

    @media screen and (max-width: 576px) {
        .hero_section .hero_content_container {
            order: 2;
        }

        .hero_section .hero_profile_container {
            order: 1;
        }
    }
}